:root {
  --blue-color: #3271bc;
  --dark-color: #212121;
  --white-color: #ffffff;
  --dark-brown-color: #b78e66;
  --brown-color: #cdb08f;
  --light-grey-color: #d9d9d9;
  --green-color: #45cd78;

  --font-family-raleway: "Raleway", sans-serif;
  --font-family-roboto: "Roboto Mono", monospace;

  --spacing: 12px;
}

.b {
  border: 1px solid black;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 40px;
  font-family: var(--font-family-raleway);
  margin: 0;
  color: var(--blue-color);
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-family: var(--font-family-raleway);
  margin: 0;
}

h3 {
  font-size: 16px;
  font-family: var(--font-family-raleway);
  margin: 0;
}

h4 {
  font-size: 14px;
  font-family: var(--font-family-roboto);
  margin: 0;
}

p {
  font-size: 14px;
  font-family: var(--font-family-roboto);
  line-height: 1.6;
  text-align: justify;
}

span {
  font-family: var(--font-family-roboto);
  font-size: 12px;
}

table thead tr {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-family-raleway);
}

table tbody tr {
  font-size: 12px;
  font-family: var(--font-family-roboto);
}

table tbody tr td,
table thead tr th {
  text-align: center;
}

.about--img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Helper classes */

.margin--vertical {
  margin: var(--spacing) 0 !important;
}

.margin--top {
  margin: var(--spacing) 0 0 0 !important;
}

.margin--bottom {
  margin: 0 0 var(--spacing) 0 !important;
}

/* Class overrides */

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--white-color);
  border-bottom: 2px solid var(--light-grey-color);
}

nav .sidenav-trigger {
  color: var(--dark-color);
}

nav .brand-logo {
  color: var(--dark-color);
  font-family: var(--font-family-raleway);
  font-weight: 700;
}

.sidenav .subheader {
  font-family: var(--font-family-raleway);
  font-size: 12px;
}

.sidenav li a {
  font-family: var(--font-family-roboto);
  font-size: 12px;
}

.sidenav li a.btn {
  color: var(--blue-color);
}

.sidenav .user-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav .user-view .name strong {
  font-family: var(--font-family-raleway);
  font-size: 14px;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sidenav .user-view .email strong {
  font-family: var(--font-family-roboto);
  font-size: 12px;
  color: var(--white-color);
  font-weight: 400;
}

.sidenav .background {
  background-color: var(--dark-color) !important;
}

.sidenav .background img {
  opacity: 0.5;
}

.btn {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  color: var(--blue-color);
  background-color: var(--white-color);
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
  padding: 0 14px;
  font-family: var(--font-family-roboto);
}

.btn:focus {
  background-color: transparent;
}

.btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}

.card .card-image {
  border-radius: 10px 10px 0 0;
  background-color: var(--dark-color);
}

.card .card-image img {
  opacity: 0.5;
}

.card .card-content {
  border-left: 2px solid var(--light-grey-color);
  border-right: 2px solid var(--light-grey-color);
}

.card .card-image .card-title {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-family-raleway);
  max-width: 100%;
  padding: 24px;
}

.card .card-action {
  border-top: none;
  border-left: 2px solid var(--light-grey-color);
  border-right: 2px solid var(--light-grey-color);
  border-bottom: 2px solid var(--light-grey-color);
  justify-content: center;
}

.card .card-action:last-child {
  border-radius: 0 0 10px 10px;
}

.card .card-action a {
  color: var(--blue-color) !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  font-weight: 600;
  margin: 0 !important;
  font-family: var(--font-family-roboto) !important;
}

.collection {
  border-radius: 10px;
  padding: 8px 0;
}

.collection .collection-item .title {
  font-family: var(--font-family-raleway);
  font-weight: 700;
}

.collection .collection-item p {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-roboto);
}

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: var(--dark-color);
  background-color: var(--dark-brown-color);
  text-align: center;
}

.collection .collection-item.avatar .secondary-content {
  color: var(--green-color);
}

.row {
  margin-bottom: 0 !important;
}

.page-footer {
  padding-top: 0;
  color: var(--dark-color);
  background-color: var(--brown-color);
}

.page-footer p {
  padding: 18px 14px;
}

.page-footer .footer-copyright {
  padding: 12px 0;
  color: var(--dark-color);
  background-color: var(--dark-brown-color);
}

.page-footer .footer-copyright .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer .footer-copyright .social-links {
  margin-bottom: 5px;
}

.page-footer .footer-copyright .social-links a {
  margin: 0 5px;
}

.page-footer .footer-copyright .social-links a img {
  width: 24px;
  height: 24px;
}

#home {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .introduction h1 {
  text-transform: uppercase;
}

#home .introduction h2 {
  font-weight: 500 !important;
}

/* body {
  background-color: var(--white-color);
  font-family: var(--font-primary);
  color: var(--dark-color);
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 40px 0;
  font-family: var(--font-secondary);
  color: var(--blue-color);
}

h2 {
  font-size: 25px;
  margin: 0;
  font-weight: 600;
  padding: 5px 0 60px 0;
}

h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 300;
  padding-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

p {
  font-size: 14px;
  text-align: justify;
  margin: 0 0 14px 0;
}

nav {
  background-color: transparent;
  height: 64px;
  padding: 0 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav a {
  font-weight: bold;
  transition: color 0.3s ease-in-out !important;
}

nav ul a:hover {
  color: var(--blue-color);
  background-color: transparent;
}

nav .brand-logo {
  color: var(--blue-color);
  font-family: var(--font-secondary);
}

.navbar-fixed {
  position: absolute;
  height: 64px;
}

.btn-floating {
  background-color: var(--blue-color);
}

.btn-floating:hover {
  background-color: var(--blue-color);
}

.tabs.tabs-transparent .tab a {
  color: var(--dark-color);
  font-weight: 600;
  text-transform: capitalize;
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: var(--blue-color);
}

.tabs.tabs-transparent .indicator {
  background-color: var(--blue-color);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

.page-footer {
  background-color: var(--blue-color);
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 60px;
  padding: 10px 40px;
  background-color: var(--dark-blue-color);
}

.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}



div#home {
  height: 100vh;
  width: 100%;
}

div#home .sect {
  position: absolute;
  width: 50%;
  height: 100%;
}

div#home .sect.left {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

div#home .sect.right {
  right: 0;
  background-color: #000000;
}

div#home .sect.right img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

div#about {
  margin: auto 40px;
}

div#about .tabs {
  border-radius: 20px 20px 0 0;
  margin-top: 40px;
}

div#about .tab-content {
  height: 60vh;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px;
}

div#projects .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#projects .cards .c-card {
  width: 48%;
  height: 400px;
}

div#projects .link-wrapper {
  margin-top: 40px;
}

div#contact .link-wrapper {
  margin: 20px 0 40px 0;
}

.page-footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer .contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.page-footer .contact-info i {
  margin-right: 8px;
}

.page-footer .contact-info span {
  font-weight: 500 !important;
}

.page-footer .footer-copyright .social a::after {
  content: "|";
  margin: 0 5px;
  font-weight: bolder;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo.left {
    left: 0;
  }
}

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i,
  .navbar-fixed {
    line-height: 64px;
  }
} */
