:root {
  --blue-color: #3271bc;
  --dark-color: #212121;
  --white-color: #ffffff;
  --dark-brown-color: #b78e66;
  --brown-color: #cdb08f;
  --light-grey-color: #d9d9d9;
  --green-color: #45cd78;

  --font-family-raleway: "Raleway", sans-serif;
  --font-family-roboto: "Roboto Mono", monospace;

  --spacing: 12px;
}

.b {
  border: 1px solid black;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 30px;
  font-family: var(--font-family-raleway);
  margin: 0;
  color: var(--blue-color);
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-family: var(--font-family-raleway);
  margin: 0;
}

h3 {
  font-size: 16px;
  font-family: var(--font-family-raleway);
  margin: 0;
}

h4 {
  font-size: 14px;
  font-family: var(--font-family-roboto);
  margin: 0;
}

p {
  font-size: 14px;
  font-family: var(--font-family-roboto);
  line-height: 1.6;
  text-align: justify;
}

span {
  font-family: var(--font-family-roboto);
  font-size: 12px;
}

table thead tr {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-family-raleway);
}

table tbody tr {
  font-size: 12px;
  font-family: var(--font-family-roboto);
}

table tbody tr td,
table thead tr th {
  text-align: center;
}

.about--img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Helper classes */

.margin--vertical {
  margin: var(--spacing) 0 !important;
}

.margin--top {
  margin: var(--spacing) 0 0 0 !important;
}

.margin--bottom {
  margin: 0 0 var(--spacing) 0 !important;
}

/* Class overrides */

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--white-color);
  border-bottom: 2px solid var(--light-grey-color);
}

nav ul a {
  font-size: 14px;
}

nav li a {
  color: var(--dark-color);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-family-roboto);
}

nav ul a:hover {
  background-color: transparent;
  color: var(--blue-color);
  font-weight: 700;
}

nav .sidenav-trigger {
  color: var(--dark-color);
}

nav .brand-logo {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

nav .brand-logo img {
  width: 30px;
  height: 30px;
}

.sidenav .subheader {
  font-family: var(--font-family-raleway);
  font-size: 12px;
}

.sidenav li a {
  font-family: var(--font-family-roboto);
  font-size: 12px;
}

.sidenav li a.btn {
  color: var(--blue-color);
}

.sidenav .user-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav .user-view .name strong {
  font-family: var(--font-family-raleway);
  font-size: 14px;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sidenav .user-view .email strong {
  font-family: var(--font-family-roboto);
  font-size: 12px;
  color: var(--white-color);
  font-weight: 400;
}

.sidenav .background {
  background-color: var(--dark-color) !important;
}

.sidenav .background img {
  opacity: 0.5;
}

.btn {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  color: var(--blue-color);
  background-color: var(--white-color);
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
  padding: 0 14px;
  font-family: var(--font-family-roboto);
}

.btn:focus {
  background-color: transparent;
}

.btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}

.card .card-image {
  border-radius: 10px 10px 0 0;
  background-color: var(--dark-color);
}

.card .card-image img {
  opacity: 0.5;
}

.card .card-content {
  border-left: 2px solid var(--light-grey-color);
  border-right: 2px solid var(--light-grey-color);
  padding: 12px 24px;
}

.card .card-content p {
  margin-bottom: 8px;
}

.card .card-content span {
  color: var(--dark-brown-color);
}

.card .card-image .card-title {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-family-raleway);
  max-width: 100%;
  padding: 24px;
}

.card .card-action {
  border-top: none;
  border-left: 2px solid var(--light-grey-color);
  border-right: 2px solid var(--light-grey-color);
  border-bottom: 2px solid var(--light-grey-color);
  justify-content: center;
}

.card .card-action:last-child {
  border-radius: 0 0 10px 10px;
}

.card .card-action a {
  color: var(--blue-color) !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  font-weight: 600;
  margin: 0 !important;
  font-family: var(--font-family-roboto) !important;
}

.collection {
  border-radius: 10px;
  padding: 8px 0;
}

.collection .collection-item .title {
  font-family: var(--font-family-raleway);
  font-weight: 700;
}

.collection .collection-item p {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-roboto);
}

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: var(--dark-color);
  background-color: var(--dark-brown-color);
  text-align: center;
}

.collection .collection-item.avatar .secondary-content {
  color: var(--green-color);
}

.row {
  margin-bottom: 0 !important;
}

.page-footer {
  padding-top: 0;
  color: var(--dark-color);
  background-color: var(--brown-color);
}

.page-footer p {
  padding: 18px 14px;
}

.page-footer .footer-copyright {
  text-align: center;
  padding: 12px 0;
  color: var(--dark-color);
  background-color: var(--dark-brown-color);
}

.page-footer .footer-copyright .social-links {
  margin-bottom: 5px;
}

.page-footer .footer-copyright .social-links a {
  margin: 0 10px;
  display: inline-flex;
}

.page-footer .footer-copyright .social-links a img {
  width: 24px;
  height: 24px;
}

#about-me,
#education,
#projects {
  padding: 60px 0;
}

#home {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .introduction h1 {
  text-transform: uppercase;
}

#home .introduction h2 {
  font-weight: 500 !important;
}

/* Media queries */

@media only screen and (min-width: 601px) and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }

  h2,
  .collection .collection-item.avatar i.circle {
    font-size: 28px;
  }

  .page-footer .footer-copyright .social-links a img {
    width: 26px;
    height: 26px;
  }

  .page-footer .footer-copyright .row {
    display: flex;
    align-items: center;
  }

  .page-footer .footer-copyright .copyright {
    text-align: right;
  }

  .page-footer .footer-copyright .social-links {
    margin-bottom: 0;
    text-align: left;
  }

  .about--img {
    height: 350px;
  }
}

@media only screen and (min-width: 601px) {
  h3,
  .card .card-image .card-title {
    font-size: 18px;
  }

  h4,
  p,
  .btn,
  table thead tr,
  .sidenav .user-view .name strong,
  .collection .collection-item p {
    font-size: 16px;
  }

  span,
  table tbody tr,
  .sidenav .subheader,
  .sidenav li a,
  .sidenav .user-view .email strong,
  .card .card-action a {
    font-size: 14px;
  }

  .about--me {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 993px) {
  nav {
    padding: 0 30px;
  }

  h1 {
    font-size: 50px;
  }

  h2,
  .collection .collection-item.avatar i.circle {
    font-size: 30px;
  }

  .page-footer .footer-copyright .social-links a img {
    width: 28px;
    height: 28px;
  }

  .about--img {
    height: 400px;
    width: 300px;
  }
}
