:root {
  --fs-xlarge: 4rem;
  --fs-large: 3rem;
  --fs-medium: 2rem;
  --fs-small: 1.7rem;
  --fs-xsmall: 1.4rem;

  --ff-primary: 'Anton', sans-serif;
  --ff-secondary: 'Oswald', monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  margin: 0;
}

h1, h2, strong {
  font-family: var(--ff-primary);
}

a, p, span {
  font-family: var(--ff-secondary);
}

h1, h2, strong, p, a, span {
  color: #212121;
}

a {
  text-decoration: none;
}

img {object-fit: cover;}

p {
  margin: 0;
  font-size: var(--fs-small);
}

strong {
  letter-spacing: .01em;
}

.main {
  position: relative;
  left: 0;
  right: 0;
}

.main .navbar {
  padding: 2.5em;
  z-index: 5;
}

.main .navbar .sidenav__trigger {
  width: 35px;
  display: none;
}

.main .navbar .sidenav__trigger div {
  width: 100%;
  height: 4px;
  background-color: #212121;
}

.main .navbar .sidenav__trigger div.center__bar {
  margin: 4px 0;
}

.main .navbar .logo {
  font-size: var(--fs-small);
}

.main .navbar .logo:hover {
  color: #42a5f5;
  transition: color .2s ease-in-out;
}

.main .main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main .main__content .intro {
  max-width: 48%;
  height: 350px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 80% 20%;
  margin: 5em 0;
}

.main .main__content .intro img {
  grid-area: 1/1/3/1;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.main .main__content .intro h1 {
  font-weight: 100;
  font-size: var(--fs-xlarge);
  margin: 0 0 0 .3em;
  align-self: flex-end;
}

.main .main__content .intro p {
  grid-column: -1/1;
  grid-row: 2;
  align-self: flex-start;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
  text-align: right;
  padding: .25em .5em;
  margin: .3em 0;
  background-color: #42a5f5;
}

.main .main__content .about {
  max-width: 60%;
  margin: 5em 0;
}

.main .main__content .about h1 {
  font-size: var(--fs-large);
}

.main .main__content .about p {
  margin: .8rem;
  line-height: 1.4;
}

.main .main__content .about div {
  display: flex;
  justify-content: center;
}

.main .main__content .about div .btn {
  padding: .5em 1em;
  background-color: #212121;
  color: #f5f5f5;
}

.main .main__content .about div .btn:hover {
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}

.main .main__content .work {
  background-color: #212121;
  margin: 5em 0 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.main .main__content .work h1 {
  color: #f5f5f5;
  font-size: var(--fs-large);
}

.main .main__content .work .work__subtitle {
  color: #42a5f5;
  font-weight: 600;
  margin: 1em 0;
}

.main .main__content .work .grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.main .main__content .work .grid .work__item {
  padding: .5em;
}

.main .main__content .work .grid .work__item .card {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 2px;
}

.main .main__content .work .grid .work__item .card img {
  width: 100%;
  height: 65%;
}

.main .main__content .work .grid .work__item .card h2 {
  font-size: var(--fs-small);
  margin: .05em 0;
}

.main .main__content .work .grid .work__item .card p {
  font-size: var(--fs-xsmall);
  color: #424242;
  margin: 0 .2em;
}

.main .main__content .footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  background-color: #000000;
  padding: 3em;
}

.main .main__content .footer .footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main__content .footer .footer__section a,
.main .main__content .footer .footer__section span {
  color: #f5f5f5;
  font-size: var(--fs-xsmall);
  margin: .6em 0;
}

.main .main__content .footer .footer__section a:hover {
  color: #42a5f5;
  transition: color .2s ease-in-out;
}

.main .main__content .footer .footer__section span {
  text-decoration: underline;
}
