/* About section */

.about {
  width: 60%;
  height: 60%;
  display: grid;
  grid-template-rows: 20% 70% 10%;

  .resume-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
