/* Dark mode */

.dark-mode {

  h1, h2, h4, h5, h6, p {color: var(--primary-bg-clr)}

  h3 {
    background-color: var(--accent-clr);
    color: var(--primary-txt-clr);
  }

  h4:hover, h5:hover, h6:hover {
    color: var(--accent-clr);
    transition: color var(--hover-anim-dur) ease-in-out;
    -webkit-transition: color var(--hover-anim-dur) ease-in-out;
  }

  span {
    color: var(--primary-bg-clr);

    &:hover {
      background-color: var(--secondary-txt-clr);
      transition: background-color var(--hover-anim-dur) ease-in-out;
      -webkit-transition: background-color var(--hover-anim-dur) ease-in-out;
    }
  }

  .navbar-on-scroll {
    box-shadow: var(--blue-slim-bs);
  }

  .main {background-color: var(--primary-txt-clr)}

  .navbar {background-color: var(--primary-txt-clr);}

  .sidenav {background-color: var(--primary-txt-clr);}

  .trigger {
    .bar {background-color: var(--primary-bg-clr)}

    &:hover {
      .bar {
        background-color: var(--accent-clr);
        transition: background-color var(--hover-anim-dur) ease-in-out;
        -webkit-transition: background-color var(--hover-anim-dur) ease-in-out;
      }
    }
  }

  .sidenav-links .link a{
    color: var(--primary-bg-clr);

    &:hover {
      color: var(--accent-clr);
      transition: color var(--hover-anim-dur) ease-in-out;
      -webkit-transition: color var(--hover-anim-dur) ease-in-out;
    }
  }

  .dropdown-content {
    background-color: var(--primary-txt-clr);
    box-shadow: var(--blue-thick-bs);
  }

  .intro-image {background-color: var(--accent-clr)}

  .btn {
    background-color: var(--primary-bg-clr);
    color: var(--primary-txt-clr);

    &:hover {
      background-color: var(--accent-clr);
      font-weight: var(--fw-bold);
      transition: background-color var(--hover-anim-dur) ease-in-out,
                  font-weight var(--hover-anim-dur) ease-in-out;
      -webkit-transition: background-color var(--hover-anim-dur) ease-in-out,
                          font-weight var(--hover-anim-dur) ease-in-out;
    }
  }

  .cards .card {
    box-shadow: var(--blue-thick-bs);

    &:hover {
      box-shadow: var(--light-thick-bs);
    }
  }

  .card-reveal {box-shadow: var(--blue-thick-bs)}

  .icon {
    fill: var(--primary-bg-clr);

    &:hover {
      fill: var(--accent-clr);
      transition: fill var(--hover-anim-dur) ease-in-out;
      -webkit-transition: fill var(--hover-anim-dur) ease-in-out;
    }
  }

  .indicator {background-color: var(--primary-bg-clr)}

  .active-indicator {
    background-color: var(--accent-clr);
  }

  .footer {
    background-color: var(--accent-clr);

    .footer-link {
      color: var(--primary-txt-clr);

      &:hover {
        font-weight: var(--fw-bold);
        transition: font-weight var(--hover-anim-dur) ease-in-out;
        -webkit-transition: font-weight var(--hover-anim-dur) ease-in-out;
      }
    }
  }
}
