/* Dark mode styles */

.dark--mode {

  h1 {color: var(--grey-lighten-1)}

  h2 {color: var(--grey-lighten-2)}

  h3 {
    color: var(--grey-lighten-2);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  h4 {
    color: var(--grey-darken-1);

    &:hover {
      font-weight: 600;
      transition: font-weight .2s ease-in-out;
      -webkit-transition: font-weight .2s ease-in-out;
    }
  }

  h5 {
    color: var(--grey-darken-1);
    background-color: var(--accent-color);
  }

  .header-on-scroll {
    box-shadow: var(--blue-slim-bs);
    -webkit-box-shadow: var(--blue-slim-bs);
  }

  p {color: var(--grey-lighten-2)}

  .logo_link {
    color: var(--grey-lighten-1);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  .dark_theme_link {
    color: var(--grey-lighten-1);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  .light_theme_link {
    color: var(--grey-darken-1);

    &:hover {
      font-weight: 600;
      transition: font-weight .2s ease-in-out;
      -webkit-transition: font-weight .2s ease-in-out;
    }
  }

  .btn {
    color: var(--grey-darken-1);
    background: var(--accent-color);

    &:hover {
      background-color: var(--grey-lighten-1);
      transition: background-color .2s linear;
      -webkit-transition: background-color .2s linear;
    }
  }

  .icon {
    fill: var(--grey-lighten-1);

    &:hover {
      fill: var(--accent-color);
      transition: fill .2s ease-in-out;
      -webkit-transition: fill .2s ease-in-out;
    }
  }

  .body {
    background-color: var(--grey-darken-1);

    .sidenav {
      background-color: var(--grey-darken-1);

      .close {
        .bar {background-color: var(--grey-lighten-1)}

        &:hover {
          .bar {
            background-color: var(--accent-color);
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
          }
        }
      }
    }

    .header {
      background-color: var(--grey-darken-1);

      .logo {
        p {
          color: var(--grey-lighten-1);

          &:hover {
            color: var(--accent-color);
            transition: color .2s ease-in-out;
            -webkit-transition: color .2s ease-in-out;
          }
        }
      }

      .open {
        .bar {background-color: var(--grey-lighten-1)}

        &:hover {
          .bar {
            background-color: var(--accent-color);
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
          }
        }
      }
    }

    .intro {
      .intro__title {
        p {color: var(--grey-lighten-2)}

        strong {color: var(--grey-lighten-1)}
      }

      .image {background-color: var(--accent-color)}
    }

    .do {
      .card {
        box-shadow: var(--blue-box-shadow);

        &:hover {
          box-shadow: var(--light-box-shadow);
          transition: box-shadow .2s ease-in-out;
          -webkit-transition: box-shadow .2s ease-in-out;
        }
      }
    }

    .work {.indicator {background: var(--grey-lighten-1)}}

    .footer {
      background-color: var(--accent-color);
    }

    .active--indicator {
      background: var(--accent-color) !important;
      transition: background .2s ease-in-out;
      -webkit-transition: background .2s ease-in-out;
    }
  }
}
