/* Intro section styles */

.intro {
  height: 100vh;

  .intro__section {
    width: 50%;
    height: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;

    .intro__title {
      grid-column: 1;
      grid-row: 1;
      padding: 5px;
      pointer-events: none;

      p {
        font-size: var(--fs-title);
        text-align: center;
        line-height: 1.4;
      }

      strong {
        font-family: var(--ff-title);
      }
    }

    .image {
      grid-column: 2;
      grid-row: 1/3;
      padding: 5px;
      border-radius: 0 7px 7px 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 7px 7px 0;
      }
    }

    .intro__subtitle {
      grid-column: 1;
      grid-row: 2;
    }
  }
}
