/* Intro section */

.intro {
  width: 50%;
  height: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;

  .intro-title {
    grid-area: 1/1/1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }

  .intro-subtitle {
    grid-area: 2/1/2/1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .intro-image {
    grid-area: 1/2/3/2;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 96%;
      height: 96%;
      border-radius: 0 4px 4px 0;
    }
  }
}
