/* Light mode styles */

.light--mode {
  
  h1 {color: var(--black)}

  h2 {color: var(--grey-darken-1)}

  h3 {
    color: var(--grey-darken-1);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  h4 {
    color: var(--grey-lighten-1);

    &:hover {
      font-weight: 600;
      transition: font-weight .2s ease-in-out;
      -webkit-transition: font-weight .2s ease-in-out;
    }
  }

  h5 {
    color: var(--grey-lighten-2);
    background-color: var(--grey-darken-1);
  }

  .header-on-scroll {
    box-shadow: var(--dark-slim-bs);
    -webkit-box-shadow: var(--dark-slim-bs);
  }

  p {color: var(--grey-darken-1)}

  .logo_link {
    color: var(--grey-darken-1);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  .dark_theme_link {
    color: var(--grey-darken-1);

    &:hover {
      color: var(--accent-color);
      transition: color .2s ease-in-out;
      -webkit-transition: color .2s ease-in-out;
    }
  }

  .light_theme_link {
    color: var(--grey-lighten-1);

    &:hover {
      font-weight: 600;
      transition: font-weight .2s ease-in-out;
      -webkit-transition: font-weight .2s ease-in-out;
    }
  }

  .btn {
    color: var(--grey-lighten-1);
    background: var(--grey-darken-1);

    &:hover {
      color: var(--grey-darken-1);
      background-color: var(--accent-color);
      transition: background-color .2s linear,
                  color .2s linear;
      -webkit-transition: background-color .2s linear,
                          color .2s linear;
    }
  }

  .icon {
    fill: var(--grey-darken-1);

    &:hover {
      fill: var(--accent-color);
      transition: fill .2s ease-in-out;
      -webkit-transition: fill .2s ease-in-out;
    }
  }

  .body {
    background-color: var(--grey-lighten-2);

    .sidenav {
      background-color: var(--grey-lighten-2);

      .close {
        .bar {background-color: var(--grey-darken-1)}

        &:hover {
          .bar {
            background-color: var(--accent-color);
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
          }
        }
      }
    }

    .header {
      background-color: var(--grey-lighten-2);

      .logo {
        p {
          color: var(--grey-darken-1);

          &:hover {
            color: var(--accent-color);
            transition: color .2s ease-in-out;
            -webkit-transition: color .2s ease-in-out;
          }
        }
      }

      .dropdown {
        .dropdown_trigger {color: var(--grey-darken-1)}

        .dropdown_content {
          background-color: var(--grey-lighten-2);
          box-shadow: var(--dark-box-shadow);

          span {
            color: var(--grey-darken-1);

            &:hover {
              background-color: var(--grey-lighten-3);
              color: var(--accent-color);
              transition: background-color .2s ease-in-out,
                          color .2s ease-in-out;
              -webkit-transition: background-color .2s ease-in-out,
                                  color .2s ease-in-out;
            }
          }
        }
      }

      .open {
        .bar {background-color: var(--grey-darken-1)}

        &:hover {
          .bar {
            background-color: var(--accent-color);
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
          }
        }
      }
    }

    .intro {
      .intro__title {
        p {color: var(--grey-darken-1)}

        strong {color: var(--black)}
      }

      .image {background-color: var(--grey-darken-1)}
    }

    .do {
      .card {
        box-shadow: var(--dark-box-shadow);

        &:hover {
          box-shadow: var(--blue-box-shadow);
          transition: box-shadow .2s ease-in-out;
          -webkit-transition: box-shadow .2s ease-in-out;
        }
      }
    }

    .work {.indicator {background: var(--grey-darken-1)}}

    .footer {
      background-color: var(--grey-darken-1);
    }

    .active--indicator {
      background: var(--accent-color) !important;
      transition: background .2s ease-in-out;
      -webkit-transition: background .2s ease-in-out;
    }
  }
}
