/* Devices max-width: 700px */

@media only screen and (max-width: 700px) {
  :root {
    --fs--xlarge: 2.5rem;
    --fs-large: 1.7rem;
    --fs-medium: 1.3rem;
    --fs-small: 1rem;
    --fs-xsmall: 0.8rem;

    --ls-h1: .05em; // TODO:
    --ls-p: .1em; // TODO:
  }

  h2 {margin: 0 0 .3em 0}

  h3 {
    padding: .15em .4em .15em 8.6em;
    border-radius: 2px 0 0 2px;
  }

  .icon {
    width: 2em;
    height: 1em;
  }

  .section {width: 80%}

  .navbar {
    grid-template-columns: 65% 20% 15%;
    padding: 1.5em 1.6em;
  }

  .sidenav-open {
    width: 35px;
    height: 22px;
    margin: 0 0 0 2.5em;

    .bar {
      height: 3px;
      border-radius: 2px;
      margin-top: 3px;
    }
  }

  .sidenav .sidenav-close {
    margin:  1.7em 3.5em;
    width: 25px;
    height: 25px;

    .bar {
      width: 35px;
      height: 3px;
      border-radius: 15px;
    }
  }

  .dropdown .dropdown-content {min-width: 100px}

  .intro {
    height: 40%;
    top: 30%;

    .intro-title {line-height: 1.8}

    .intro-image {
      border-radius: 0 2px 2px 0;

      img {
        width: 98%;
        height: 98%;
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .about {
    height: 50%;
    top: 25%;
  }

  .do {
    height: 70%;
    grid-template-rows: 11% 89%;

    .cards {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 25%);

      .card {
        width: 96%;
        margin: 1% calc(10% / 8);

        .btn {display: inline}
      }
    }

    .card-reveal .card .card-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card-btn {justify-content: center}
  }

  .work {
    height: 55%;
    top: 25%;
    grid-template-rows: 20% 80%;
  }

  .carousel .indicators .indicator {
    width: 40px;
    height: 3px;
    margin: 5px;
    border-radius: 3px;
  }

  .contact {
    height: 40%;
    top: 25%;
  }

  .footer {height: 25vh}
}
