/* Navbar */

.navbar {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  align-items: center;
  padding: 1.5em 2em;
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;

  .logo {
    display: flex;
  }
}
