/* Sidenav styles */

.sidenav {
  display: none;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .sidenav__links {
    position: relative;
    top: calc(calc(100% - 80%) / 2);
    margin: 0 auto;
    width: 50%;
    height: 80%;

    .link {
      margin: 1.5em 1em;

      a {
        font-size: var(--fs-title);
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em 2em;
    width: 33px;
    height: 33px;
    cursor: pointer;

    .bar {
      position: absolute;
      width: 45px;
      height: 5px;
      border-radius: 10px;
    }

    .one {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .two {
      -webkit-transform: rotate(135deg);
    }
  }
}

.sidenav--open {
  display: block !important;
  animation: fadeIn var(--anim-duration);
}
